@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-title: var(--font-syne), ui-sans-serif, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #222; 
}
::-webkit-scrollbar-thumb:hover {
  background: #D4AF37; 
}